<div class="container align-items-center"> 
    <div class="container-fluid mt-5 mb-5">
      <h1>Staff</h1>
    </div>
  
    <div class="row-cols" style="margin: auto;">
      <div class="row cols-3">
  
        <%#Member card%>
        <div class="card mb-5" style="width: 18rem; margin: auto;">
          <h3 class="card-header">Célia COLLET</h3>
          <img class="card-img-top" src="https://64.media.tumblr.com/5547996ec13613898a48028554d8d1fb/tumblr_ofx77yx2fx1qhb02oo1_1280.jpg" alt="Celia">
          <div class="card-body">
            <p class="card-text">is most likely sleeping this bootcamp off somewhere</p>
          </div>
        </div>
      </div>
    </div>
</div>
