body{
    text-align:justify;
    background-color: #3C9099;
    font-family:'Nova Round'
}

.navbar-brand
{
    font-family: 'Dancing Script', cursive;
    
}
.navbar-nav .navbar-text
{
    color:white
}
h1 
{
    text-align: justify;
}
h2
{
    padding:20px;
    margin-bottom: 20px;
}
ul 
{
   
    text-align: justify;
    list-style:none;
}

.name

{
    padding-top:10px;
    font-style:italic;
    text-transform: capitalize;
    color:#E3E2C3;
}

form
{
    text-align:justify;
    padding-top:15px;
}

p 
{
    padding-top:20px;
    text-align:justify;
}

.tgp

{
    color: #b9c0d5;
}

.card{
    background-color: #516091;
    color:rgb(0, 0, 0);
    margin:20px;
    font-family: 'Nova Round';
}

.card-text-title
{
    font-family: 'Nova Round';
    font-size:20px
}

.tgp
{
    font-family: 'Nova Round'; 
}

.author
{
    font-family: 'Nova Round'; 
}

.username
{
    color:white;
    font-size:18px;
    margin-bottom:18px
}